
.second-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    gap: 10px;
    width: 400px;
}

.input {
    height: 36px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
    
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.right {
    margin-right: 100px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.cart-products {
    margin-right: 20px
}

.price-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
  
  
}

@media (max-width: 768px) {
    
    
    .second-form {
     width: 140px; 
        }
        .cart-products {
            width: 190px;
        }
    .main-container{
        display: flex;
        gap:10px
    }}

 .cart-item {
    gap: 10px;
 }