.footer-main {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.informatii-footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.informatii-footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 768px) {
.footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    }}